# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# IDE
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
*.swp
*~
.factorypath

# OS
.DS_Store
Thumbs.db
